body {
    font-family: 'Russo One', sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://konachan.com/image/43f46d3b90fc7fdd4c147ca7d0552331/Konachan.com%20-%20122602%20mitauzo%20monochrome%20original%20scenic%20school_uniform%20sketch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    position: relative;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    color: rgb(255, 250, 244);
    position: absolute;
    margin-bottom: 49.8rem;
    
}

.container  {
    width: 880px;
    height: 640px;
    border: 120px solid #212129;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 250, 244);

}

.cell {
    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
}

button {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    width: 90px;
    padding: 10px 15px;
    margin: 5px;
    transition-duration: 0.4s;
    border: none;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
    background-color: rgb(255, 250, 244);
}

button:hover {
    background-color: rgb(255, 208, 0);
}

button:active {
    transform: translate(2px, 3px);
    box-shadow: none;

}

p {
    margin-right: 10px;
    color: rgb(255, 250, 244);
}

.left {
    display: flex;
    position: absolute;
    margin-top: 47.5rem;
    margin-left: -30.8rem;
}

.right {
    display: flex;
    position: absolute;
    margin-top: 47.5rem;
    margin-right: -27.2rem   
    
}